**/bin/
**/obj/
.vs/
artifacts/
docs/internal/
*.suo
*.user
*.7z
*.a
*.apk
*.avi
*.bin
*.bmp
*.bz2
*.cab
*.class
*.cubin
*.dat
*.deb
*.dll
*.dmg
*.doc
*.docx
*.dylib
*.exe
*.fatbin
*.flac
*.gif
*.gz
*.ico
*.ipa
*.iso
*.jar
*.jpeg
*.jpg
*.lib
*.m4a
*.m4v
*.mkv
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.msi
*.nupkg
*.o
*.obj
*.odp
*.ods
*.odt
*.ogg
*.otf
*.pdb
*.pdf
*.png
*.ppt
*.pptx
*.ptx
*.pyc
*.rar
*.rpm
*.snupkg
*.so
*.so.*
*.tar
*.ttf
*.wav
*.wasm
*.webm
*.webp
*.woff
*.woff2
*.xls
*.xlsx
*.xz
*.zip
